@mixin font($argument1 , $argument2 , $argument3) {
  color: $argument1;
  font-weight: $argument2;
  font-size: $argument3;
}

@mixin desktop() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin flexible($direction , $cut , $just , $align ) {
  display: flex;
  flex-flow: $direction $cut;
  justify-content: $just;
  align-items: $align;
}

@mixin grid( $columns , $space) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $space;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
