*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d3d3d3;
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
p,
a {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
