@import '_reset';
@import '_mixins';
@import '_hamburger';

$color: (
  "dark": #272a31,
  "fresh": #ec5242,
  "light" : #d3d3d3
);

.header__social {
  display: none;
  @include desktop () {
    @include flexible(row, nowrap, flex-end, center);
    background-color: map-get($color, "dark");
    color: map-get($color, "light");
    padding: 0.6em 0;
    &--ul {      
      width: 40%;
      min-width: 350px;
      @include flexible(row, nowrap, space-around, center);
      img {
        display: inline;
      }
    }
    
  }
}

.headline {  
  padding-top: 100px;
  margin-left: 2em;
  padding-bottom: 2em;
  @include desktop () {
    padding: 6rem 0;
  }  

  @include flexible(column, wrap, center, center);

  h2 {
    @include font( map-get($color, "fresh"), 400 , 1.3em );
    @include desktop () {
      @include font( map-get($color, "fresh"), 700 , 1.8em );
    }
  }

  h1 {
    @include font(map-get($color, "fresh"), 900, 3rem);
    @include desktop () {
      @include font( map-get($color, "fresh"), 900 , 4em );
    }
  }

  &__description {
    text-align: center;
    margin-top: 1em;
    padding: 20px;
    border: solid 2px rgb(179, 178, 178);
    width: 90%;
    background-color: #fff;
    @include desktop () {
      width: 60%;
    }
  }

  &__contact {
    text-align: center;
    width: 70%;
    @include desktop() {
      padding: 1em 0;
    }
  }
}

.logo {
  @include flexible(column, nowrap, center, center);

  text-align: center;
  background-color: #fff;
  padding: 4em 0;

  h2 {
    @include font(map-get($color, "dark"), 700, 1.7rem);
  }  

  p {
    @include font(map-get($color, "dark"), 400, 1rem);
    margin-bottom: 2em;

    width: 80%;
    @include desktop() {
      width: 60%;      
    }
  }

  img {
    width: 90%;
    background-color: #ec5242;
    height: 10em;
    @include desktop() {
      width: 50%;
    }
  }
}

.seethepast {
  @include flexible(column, nowrap, center, center);

  text-align: center;
  border-top: solid 1px rgb(179, 178, 178);
  background-color: #fff;
  padding: 2.5em 0;

  &__img {
    width: 100%;
    margin: 2em 0;
    @include flexible(column, nowrap, center, center);
    @include desktop() {
      @include flexible(row, nowrap, center, center);
      width: 50%;      
    }    
  }

  img {
    width: 80%;
    background-color: green;
    margin: 0.4em;
    height: 10em;     
  }
}

.partner {
  text-align: center;

  @include font(map-get($color, "light"), 400, 1.5rem);
  @include flexible(column, nowrap, center, center);

  background-color: map-get($color, "dark");
  padding: 2em 1em;


  &__img {
    width: 100%;

    @include flexible(row, wrap, space-around, center);

    img {
      width: 30%;
      max-width: 250px;
      background-color: pink;
      margin: 0.3em;
    }
  }
}

.footer {
  @include flexible(row, nowrap, space-around, center);

  padding: 2em;

  img {
    width: 30%;
    background-color: yellow;
    height: 3rem;
  }

  p {
    @include font(map-get($color, "dark"), 400, 0.8rem);
  }
}
