@import '_reset';
@import '_mixins';
@import '_hamburger';

$color: (
  "dark": #312827,
  "fresh": #ec5242,
  "light" : #d3d3d3
);

.header__social {
  display: none;
  @include desktop () {
    @include flexible(row, nowrap, flex-end, center);
    background-color: map-get($color, "dark");
    color: map-get($color, "light");
    padding: 0.6em 0;
    &--ul {      
      width: 40%;
      min-width: 350px;
      @include flexible(row, nowrap, space-around, center);
      img {
        display: inline;
      }
    }
    
  }
}

.headline {
  padding: 100px 0;
  margin-left: 2em;
  @include desktop() {
    padding: 5em 8em;
  }

  @include flexible(column, wrap, center, flex-start);

  h2 {
    @include font( map-get($color, "fresh"), 400 , 1.3em );
    @include desktop () {
      @include font( map-get($color, "fresh"), 700 , 1.7em );
    } 
  }

  h1 {
    @include font(map-get($color, "fresh"), 900, 3rem);
    @include desktop () {
      @include font( map-get($color, "fresh"), 900 , 4em );
    } 
  }

  &__p {
    margin-top: 1em;
    padding: 10px;
    border: solid 2px #fff;
    width: 90%;
    @include desktop () {
      width: 50%
    } 
  }

  h3 {
    margin: 0.7em 0;
    @include font(map-get($color, "dark"), 900, 1.8em);
    
  }
}

.speakers {
  padding-top: 20px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  @include flexible(column, nowrap, center, center);   

  > .speakersCreated {
    @include grid(2, 10px); 
    @include desktop() { 
      padding: 2em 0;
    }  
  }

  h2 {
    @include font(map-get($color, "dark"), 700, 1.4rem);

    margin-bottom: 1em;
  }

  img {
    float: left;
    margin: 10px;
    background-color: blue;
    display: inline;
    width: 25%;
    height: 8em;
    position: relative;
  }

  &__person {
    background-color: yellow;
    @include desktop() {
      width: 90%;
      background-color: green;      
      padding: 2em 0
    }
  }

  &__person--ul {
    margin-top: .5em;  
    @include flexible(column, nowrap, center, flex-start);    

    h3 {
      @include font(map-get($color, "dark"), 700, 1.2rem);
    }

    p {
      @include font(map-get($color, "fresh"), 400, 0.9rem);
    }

    hr {      
      padding: 0 10px;
      border-bottom: solid 2px map-get($color, 'light');
      top: -10px;
    }

    .speakers__person--description {
      @include font(map-get($color, "dark"), 400, 0.8rem);
    }
  }
}

.program {
  background-color: map-get($color, "dark");
  color: map-get($color, 'light');
  padding-left: 2em;

  @include flexible(column, nowrap, center, center);

  h2 {
    @include font(map-get($color, "light"), 700, 1.3em);

    margin: 2em 0 1em 0;
  }  

  > a {
    display: none;
    @include desktop() {
      display: inline;
      margin: 0 0 5em 0;      
    }
  }

  ul {
    @include desktop () {
      padding: 3em 0;
      @include flexible(row, wrap, center, center);
    }
  }

  li {
    @include flexible(row, nowrap, space-around, center);

    background-color: #645d5d41;
    padding: 2em 0;
    width: 95%;
    margin: 1em 0;

    @include desktop () {
      @include flexible(column, nowrap, space-around, center);      
      margin: 1.5em 1em;
      width: 15%;
    }

    img {
      width: 30%;
    }

    h3 {
      margin-left: 1em;
      width: 60%;

      @include font(map-get($color, 'fresh'), 700, 1.2rem);
    }

    p {
      margin-left: 1em;
      width: 90%;

      @include font(map-get($color, 'light'), 400, 0.8rem);
    }
  }

  button {
    background-color: map-get($color, "fresh");
    color: map-get($color, "light");
    padding: 1.5em;
    margin-bottom: 2em;
    @include desktop () {
      display: none;
    }
  }
}

.partner {
  text-align: center;

  @include font(map-get($color, "light"), 400, 1.5rem);
  @include flexible(column, nowrap, center, center);

  background-color: map-get($color, "dark");
  padding: 2em 1em; 

  &__img {
    width: 100%;    

    @include flexible(row, wrap, space-around, center);

    img {
      width: 30%;
      max-width: 10em;
      background-color: pink;
      margin: 0.3em;
    }
  }
}

.footer {
  @include flexible(row, nowrap, space-around, center);

  padding: 2em;

  img {
    width: 30%;
    background-color: yellow;
    height: 3rem;
  }

  p {
    @include font(map-get($color, "dark"), 400, 0.8rem);
  }
}

.morebutton {
  width: 100%;
  @include font(map-get($color, "dark"), 900, 1.5rem);
  @include desktop() {
    display: none;
  }
 }

.hidden {
  @include mobile(){
    display: none;
  }  
} 
