@import '_reset';
@import '_mixins';
@import '_hamburger';

$color: (
  "dark": #312827,
  "fresh": #ec5242,
  "light" : #d3d3d3
);

.header__social {
  display: none;
  @include desktop () {
    @include flexible(row, nowrap, flex-end, center);
    background-color: map-get($color, "dark");
    color: map-get($color, "light");
    padding: 0.6em 0;
    &--ul {            
      width: 40%;
      min-width: 350px;
      @include flexible(row, nowrap, space-around, center);    
      img {
        width: 20px;  
        margin-left: 1em;    
        display: inline;
      }  
      .facebook {
        width: 15px;
      }
    }
    
  }
}

.headline {
  padding: 100px 2em;    
  background-color: #d3d3d3d8;
  @include desktop() {
    margin: 0;
    padding: 5em 8em;    
  }

  @include flexible(column, wrap, center, flex-start);

  h2 {
    @include font( map-get($color, "fresh"), 400 , 1.3em );
    @include desktop () {
      @include font( map-get($color, "fresh"), 700 , 1.7em );
    } 
  }

  h1 {
    @include font(map-get($color, "fresh"), 900, 3rem);
    @include desktop () {
      @include font( #ec5342b0, 900 , 4em );      
      background-image: url(../img/araucaria.jpg);
      background-size:contain;
      background-repeat: repeat;
      background-clip: text;
    } 
  }

  &__p {
    margin-top: 1em;
    padding: 10px;
    border: double 3px #fff;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 90%;
    @include desktop () {
      width: 50%;
      background-color: #ffffff94;
    } 
  }

  h3 {
    margin: 0.7em 0;
    @include font(map-get($color, "dark"), 900, 1.8em);
    
  }
}

.speakers {
  padding-top: 20px;
  background-color: #d3d3d3d8; 
  width: 100%;
  margin: 0 auto;
  @include flexible(column, nowrap, center, center);   

  > .speakersCreated {
    @include grid(2, 10px); 
    @include desktop() { 
      padding: 2em 0;
    }  
  }

  h2 {
    @include font(map-get($color, "dark"), 700, 1.4rem);

    margin-bottom: 1em;
  }

  img {
    float: left;
    margin: 10px;    
    display: inline;
    width: 25%;
    height: 8em;
    position: relative;
    object-fit:fill;
    border-radius: .5rem 10rem .5rem 10rem;
    border: solid 2px map-get($color,"dark");
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
  }

  &__person {    
    border: solid 1px gray;
    border-radius: 0 3rem 0 3rem;
    width: 90%;
    margin: .5em auto;    
    background-color: #ffffff79;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
    @include desktop() {
      width: 90%;          
      padding: 2em 0
    }
  }

  &__person--ul {
    margin-top: .5em;  
    @include flexible(column, nowrap, center, flex-start);    

    h3 {
      @include font(map-get($color, "dark"), 700, 1.2rem);
    }

    p {
      @include font(map-get($color, "fresh"), 400, 0.9rem);
    }

    hr {      
      padding: 0 10px;
      border-bottom: solid 2px map-get($color, 'dark');
      top: -10px;
    }

    .speakers__person--description {
      @include font(map-get($color, "dark"), 400, 0.8rem);
    }
  }
}

.program {
  background-color: #312827f5;
  color: map-get($color, 'light');
  padding-left: 2em;

  @include flexible(column, nowrap, center, center);

  h2 {
    @include font(map-get($color, "light"), 700, 1.3em);

    margin: 2em 0 1em 0;
  }  

  > a {
    display: none;
    @include desktop() {
      display: inline;
      margin: 0 0 5em 0;      
    }
  }

  &__ul {
    @include desktop () {
      padding: 3em 0;     
      text-align: center;      
      
      @include flexible(row, wrap, center, center);           
    }
  }

  li {
    @include flexible(row, nowrap, space-around, center);

    background-color: #645d5d41;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1em;
    width: 95%;
    margin: 1em 0;

    @include desktop () {
      @include flexible(column, nowrap, space-around, center);      
      margin: 1.5em 1em;
      width: 15%;
      min-width: 200px;
    }

    img {
      width: 20%;
      @include desktop() {
      width: 40%;
      }
    }

    h3 {
      margin-left: 1em;
      width: 60%;
      @include desktop() {
        width: 100%;
        padding: .5em 0;
      }

      @include font(map-get($color, 'fresh'), 700, 1.2rem);
    }

    p {
      margin: 1em;
      width: 100%;     

      @include font(map-get($color, 'light'), 400, 0.8rem);      
    }
  }

  button {
    background-color: map-get($color, "fresh");
    color: map-get($color, "light");
    padding: 1.5em;
    margin-bottom: 2em;
    @include desktop () {
      display: none;
    }
  }
}

.partner {
  text-align: center;

  @include font(map-get($color, "light"), 400, 1.5rem);
  @include flexible(column, nowrap, center, center);

  background-color: #312827d5;
  padding: 2em 1em; 

  &__img {
    width: 100%;    

    @include flexible(row, wrap, space-around, center);

    img {
      width: 15%;
      max-width: 10em;      
      margin: 0.3em;
    }
  }
}

.footer {
  padding: 2em;
  background-color: #d3d3d3d8;
  @include flexible(row, nowrap, center, center);
  @include desktop() {    
    padding: 0;
  }

  img {
    width: 30%;        
    @include desktop() {
      width: 20%;
    }
  }

  p {
    @include font(map-get($color, "dark"), 400, 0.8rem);
  }
}

.morebutton {
  width: 100%;
  @include font(map-get($color, "dark"), 900, 1.5rem);
  @include desktop() {
    display: none;
  }
 }

.hidden {
  @include mobile(){
    display: none;
  }  
} 
